disease,test1,test2
yes,positive,positive
yes,positive,neg
yes,positive,neg
yes,neg,positive
no,positive,neg
no,positive,neg
no,neg,neg
no,neg,neg
no,neg,neg
no,neg,neg
no,neg,neg
no,neg,neg
no,neg,neg
no,neg,neg
no,neg,neg
no,neg,neg
no,neg,neg
no,neg,neg
no,neg,neg
no,neg,positive